#containerModal {
  background-color: #1F2937; 
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
}


#containerModal h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}


#containerModal input {
  all: unset;
  background-color: #39414C;
  padding: 8px 10px;
  border-radius: 8px;
  color: #d1d1d1;
}

/* Botões */
#botoes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

#botoes button {
  all: unset;
  flex: 1;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* Botões individuais */
#salvar {
  background-color: #22c55e; 
  color: #fff;
}

#salvar:hover {
  background-color: #16a34a;
}

#verCategorias {
  background-color: #4b5563; 
  color: #fff;
}

#verCategorias:hover {
  background-color: #374151;
}

#fecharModal {
  background-color: #ef4444; 
  color: #fff;
}

#fecharModal:hover {
  background-color: #dc2626;
}

/* Lista de categorias */
#containerModal ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

#containerModal li {
  background-color: #39414C;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}
